<?xml version="1.0" encoding="UTF-8" ?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee" version="2.4">
    <!--
    De naam tussen http://localhost:8181/ deze naam /servlet-name
    -->
    <display-name>displayname web.xml cox</display-name>

    <!--
        1) servlet-name = Here you give the servlet a name van de class
        2) servlet-class = package name no package class name + class name
    -->
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>account.AddUser</servlet-class>
    </servlet>

    <!--
        1) take one of the servlet  mapping servlet
        2) url pattern = this is the path
        This is done in the <servlet-mapping> element.
    -->
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteUser</servlet-name>
        <servlet-class>account.DeleteUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteUser</servlet-name>
        <url-pattern>/DeleteUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>account.GetUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>GetAantal</servlet-name>
        <servlet-class>account.GetAantal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetAantal</servlet-name>
        <url-pattern>/GetAantal</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>authenticator.LoginController</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>login.Login</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>

</web-app>